.modules__item {
	//width: 12%;
	position: relative;
	width: 100%;

	&_status {
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
	//background-color: #afafaf;
	//padding: 1rem;
	//border-radius: 10px;
	&__module-name {
		//min-height: 80px;
	}

	&_button-group {
		display: flex;
		width: 100%;
		justify-content: space-around;
		//margin-top: 1rem;
	}

	&-box {
		justify-content: center !important;
		align-items: center !important;
		height: 100%;
		text-align: center !important;
		color: black;
	}

	&_remove {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 95%;
	}

	&_openModule {
		margin-top: 1rem;
	}
}