.notification_source {
	display: flex;
	margin-bottom: 2rem;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	&>.MuiFormControl-root {
		width: 20% !important;
	}

	&>.list {
		margin-right: 1rem;
	}

	&__send-btn {
		//width: 45%;
		display: flex;

		//justify-content: space-betweenF;
		&>button:first-child {
			//	width: 30%;
		}

		&>button:last-child {
			//		width: 60%;
			margin-left: 1rem;
		}

	}
}

.alert_status {
	margin-top: 1rem;
}

.alert-time_prop {
	display: flex;
	width: 50%;
}

.alert-time_inputs {
	display: flex;
	margin-left: 1rem;
	align-items: center;
	
	& > span {
		padding-right:.5rem;
	}
}

.alert-time_added {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 1em;
	& > div {
		color: black;
	}
}


@media (max-width: 865px) {
	.notification_source {

		&>.MuiFormControl-root {
			width: 100% !important;
			margin-bottom: 1rem;
		}
	}
}

@media (max-width: 690px) {
	.notification_source {
		&>div {
			width: 100%;
		}

		&__send-btn {
			margin-top: 1rem;
		}
	}
}

@media (max-width: 450px) {
	.instruction__list>img {
		width: 100%;
	}
}