.notification_source {
	display: flex;
	margin-bottom: 2rem;
	justify-content: space-between;
	align-items: flex-end;
    //width: 75%;
    
    & > .list {
	margin-right: 1rem;
	}
	&__send-btn {
		width: 60%;
		display: flex;
		justify-content: space-between;
		& > button:first-child {
			width: 30%;
		}
		& > button:last-child {
			width: 60%;
		}
		
	}
}

.alert_status {
	margin-top: 1rem;
}
