.wordsContains_block {
	margin-top: 1rem;

	&>div {
		display: flex;
		justify-content: space-between;
		margin-top: 2rem;
		flex-wrap: wrap;
	}
}

.addFilter {
	margin-top: 1rem;
}

.searchPopup__body>div {
	cursor: pointer;
}


.price_block {
	margin-bottom: 1rem;

	&>div {
		display: flex;
		flex-direction: column;
	}
}

.addedWords {
	display: flex;
	flex-wrap: wrap;
	&>div {
		background: #FFFFFF;
		padding: .5rem;
		border-radius: 5px;
	}

	margin-top: 1rem;
}

.searchPopup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(102, 102, 102, 0.5);
	display: none;

	&__content {
		width: 500px;
		max-height: 500px;
		background-color: white;
		border-radius: 4px;
	}

	&__open {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__header {
		padding: 1rem;
		& > input {
			padding: .4rem;
			background-color: #e8e8e8;
			width: 100%;
			margin-top: 1rem;
			border-radius: 4px;
		}
		&-close {
			display: flex;
			justify-content: flex-end;
			cursor: pointer;
		}
	}

	&__footer {
		padding: 1rem;
	}
}

.filter__actions {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;

	&>button {
		width: 45%;
	}
}

.searchPopup__body-list {
	padding: 1rem;
	overflow-y: auto;
    max-height: 75%;
	&__item {
		margin-top: 0.5rem;
		background-color: #e8e8e8;
		padding: 0.5rem;
		border-radius: 4px;
	}
	
	&__item:hover {
		background-color: #bfbfbf;
	}
	
	&::-webkit-scrollbar {
		width: 3px;
		height: 3px;
	}
	&::-webkit-scrollbar-track {
		background-color: #dadada;
		border-radius: 100px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 100px;
		border: 3px solid #6f6f6f;
		background-clip: content-box;
		background-color: #6f6f6f;
	}
}

.addFilter__button {
	margin-top: 1rem;
	width: 50%;
}