.modules__item {
	//width: 12%;
	position: relative;
	//background-color: #afafaf;
	//padding: 1rem;
	//border-radius: 10px;
	&__module-name {
		//min-height: 80px;
	}
	&_remove {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 95%;
	}

	&_openModule {
		margin-top: 1rem;
	}
}