.source_panel {
	//display: flex;
	padding: 1rem;
	//justify-content: space-between;
	// align-items: center;
	// box-shadow: 5px 2px 9px grey;
	border-radius: 10px;
	//flex-wrap: wrap;

	&>div {
		margin-top: 1rem;
	}

	&-addingSource {
		display: flex;
		justify-content: space-between;
		width: 65%;
	}

	&-actions {
		display: flex;
		justify-content: flex-start;

		&>div:last-child {
			margin-left: 1.5rem;
		}
	}

}


.source-card {
	background-color: #FFFFFF;
	//background-color: rgb(241 241 241);
	padding: 1rem;
	box-shadow: 5px 2px 9px rgb(215 215 215);
	width: 24%;
	margin-bottom: 1rem;
	border-radius: 20px;
	max-height: 35vh;
	//height: 24%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;

}

.current_filter {
	padding-bottom: .5rem;
	border-bottom: 1px solid;

	&__title {
		margin-bottom: 1rem;
	}

	&__content {
		display: flex;
		width: 70%;
		justify-content: space-between;

		&-actions {
			display: flex;
			width: 65%;
			justify-content: space-between;

			&:first-child {
				margin-right: .5rem;
			}
		}
	}
}




.sourceList {
	padding: 1rem;
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow-y: auto;
	height: 70vh;

	&::-webkit-scrollbar {
		width: 3px;
		height: 3px;
	}

	&::-webkit-scrollbar-track {
		background-color: #dadada;
		border-radius: 100px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 100px;
		border: 3px solid #6f6f6f;
		background-clip: content-box;
		background-color: #6f6f6f;
	}
}