.source_panel {
	//display: flex;
	padding: 1rem;
	padding-left: 0;
	//justify-content: space-between;
	// align-items: center;
	// box-shadow: 5px 2px 9px grey;
	border-radius: 10px;
	//flex-wrap: wrap;

	&>div {
		margin-top: 1rem;
	}

	&-addingSource {
		&__title {
			margin-bottom: 1rem;
		}

		&__content {
			display: flex;
			justify-content: space-between;
			width: 100%;
			flex-wrap: wrap;

			&>.site {
				width: 20%;
			}

			&>.cat {
				width: 20%;
			}

			&>.subcat {
				width: 20%;
			}

		}
	}

	&-actions {
		display: flex;
		justify-content: flex-start;

		&>div:last-child {
			//margin-left: 1.5rem;
		}
	}

}


.source-card {
	//background-color: #FFFFFF;
	//background-color: rgb(241 241 241);
	padding: 1rem;
	//box-shadow: 5px 2px 9px rgb(215 215 215);
	//width: 24%;
	//border-radius: 10px;
	//max-height: 20vh;
	font-size: 15px;
	//height: 24%;
	//margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	//flex-direction: column;
	//width: 33%;

	&__remove {
		cursor: pointer;
	}

	&>div {
		text-align: center;
	}

	&__cat {
		padding-left: 10px;
	}

}

.current_filter {
	padding-bottom: .5rem;
	border-bottom: 1px solid;

	&__title {
		margin-bottom: 1rem;
	}

	&__content {
		display: flex;
		//width: 67%;
		justify-content: space-between;

		&-actions {
			display: flex;
			width: 50%;
			justify-content: space-between;

			&>button {
				margin-right: .5rem;
			}
		}
	}
}




.sourceList {
	//padding: 1rem;
	margin-top: 2rem;
	padding-bottom: 1rem;
	/*display: flex;
	flex-wrap: wrap;
	justify-content: space-between;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 1em;
	grid-auto-rows: minmax(100px, auto);
	overflow-y: auto;
	//height: 70vh;
	& > div {
		color: black;
	}
	&::-webkit-scrollbar {
		width: 3px;
		height: 3px;
	}

	&::-webkit-scrollbar-track {
		background-color: #dadada;
		border-radius: 100px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 100px;
		border: 3px solid #6f6f6f;
		background-clip: content-box;
		background-color: #6f6f6f;
	}
}