.source_panel {
	//display: flex;
	padding: 1rem;
	padding-left: 0;
	//justify-content: space-between;
	// align-items: center;
	// box-shadow: 5px 2px 9px grey;
	border-radius: 10px;
	//flex-wrap: wrap;

	&>div {
		margin-top: 1rem;
	}

	&-addingSource {
		&__title {
			margin-bottom: 1rem;
		}

		&__content {
			display: flex;
			justify-content: space-between;
			width: 66%;
			
		}
	}

	&-actions {
		display: flex;
		justify-content: flex-start;

		&>div:last-child {
			//margin-left: 1.5rem;
		}
	}

}


.source-card {
	background-color: #FFFFFF;
	//background-color: rgb(241 241 241);
	padding: 1rem;
	box-shadow: 5px 2px 9px rgb(215 215 215);
	//width: 24%;
	margin-bottom: 1rem;
	border-radius: 20px;
	//max-height: 20vh;
	//height: 24%;
	display: flex;
	justify-content: space-between;
	//flex-direction: column;
	width: 33%;
	&__remove {
		cursor: pointer;
	}
	
	& > div {
		text-align: center;
	}
	
	&__cat {
		padding-left: 10px;
	}

}

.current_filter {
	padding-bottom: .5rem;
	border-bottom: 1px solid;

	&__title {
		margin-bottom: 1rem;
	}

	&__content {
		display: flex;
		width: 67%;
		justify-content: space-between;

		&-actions {
			display: flex;
			width: 50%;
			justify-content: space-between;

			&>button {
				margin-right: .5rem;
			}
		}
	}
}




.sourceList {
	padding: 1rem;
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow-y: auto;
	//height: 70vh;

	&::-webkit-scrollbar {
		width: 3px;
		height: 3px;
	}

	&::-webkit-scrollbar-track {
		background-color: #dadada;
		border-radius: 100px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 100px;
		border: 3px solid #6f6f6f;
		background-clip: content-box;
		background-color: #6f6f6f;
	}
}