.modules {
	&__adding-form{
		display: flex;
	}
	
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr; 
		grid-column-gap: 10px;
   		grid-row-gap: 1em;
		//flex-wrap: wrap;
		//justify-content: space-between;
		margin-top: 2rem;

	}
	
	&__add-module-btn {
		align-self: flex-end;
		margin-left: 1rem;
	}
}


