.modules {
	&__adding-form{
		display: flex;
	}
	
	&__items {
		display: grid;
		grid-template-columns:  repeat(4, 1fr); 
		grid-column-gap: 10px;
   		grid-row-gap: 1em;
   		grid-auto-rows: minmax(100px, auto);
		//flex-wrap: wrap;
		//justify-content: space-between;
		margin-top: 2rem !important;
	& > li {
		display: block;
	}
	}
	
	&__add-module-btn {
		align-self: flex-end;
		margin-left: 1rem;
	}
}


