.header {
	background-color: #afafaf;
	padding: 1rem;

	&_menu a {
		color: inherit;
	}

	&-content {
		display: flex;

		&__home {
			display: flex;
			align-items: center;
		}

		&>div {
			margin-left: .5rem;
		}

		&__navigation {
			display: flex;
			width: 100%;
			justify-content: flex-end;
		}
	}
}