.order-history {
  &__fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__sub-fields {
    display: flex;
    gap: 1rem;
  }

  &__sites {
    width: 100%;
  }

  &__mode {
    width: 300px;
  }

  @media (max-width: 768px) {
    &__sub-fields {
      flex-direction: column;
    }

    &__mode {
      width: 100%;
    }
  }

  &__keywords {
    width: 100%;
  }

  &__submit-button {
    width: max-content;
  }

  @media (max-width: 768px) {
    &__submit-button {
      width: 100%;
    }
  }

  &__submit-button-with-pagination-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  @media (max-width: 768px) {
    &__submit-button-with-pagination-container {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

  &__table {
    margin-top: 1rem;
  }

  &__circular-progress {
    margin: 1rem auto 0;
    width: max-content;
  }
}
