.list {
	position: relative;
	&_items {
		position: absolute;
		background: #ffffff;
    	min-width: 100%;
    	border-radius: 4px;
    	z-index: 999;
    	
    	& > div {
			padding: .4rem;
			cursor: pointer;
			
		}
	}
	&__button {
		padding: .5rem;
		background-color: #7988fd;
		cursor: pointer;
		border-radius: 4px;
		color: #fff;
	}
}

.arrow-down:after {
  content: "\25BC";
}

.arrow-up:after {
  content: "\25B2";
}

.arrow {
	margin-left: 8px;
  	font-family: FontAwesome;
}
